{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container">    

            <h2 class="page-header">Taxonomy creation </h2>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-default" href="{{ path('admin_taxonomy_index') }}">Back to the list</a>
            {{ form_end(form) }}

        </div>
    </div>            
{% endblock %}
